
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height:100%;
    max-width:100%;
    text-align: center;
    overflow: hidden;
}

#wrap {

    display:flex;
    flex-direction: row;
}

#card1 {
    width:50vw;
    margin-top:2.5%;
    margin-left: 2.5%;
    margin-right: 1.25%;
    margin-bottom: 2.5%;
}

#card2 {
    width:50vw;
    margin-top:2.5%;
    margin-left: 1.25%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.card {
    margin-left:auto;
    margin-right: auto;
    max-width: 45vw;
}

#one {
    height: 85vh;
}

#two {
    height: 85vh;
}

.card-body {
    overflow: auto;
}

.dropdown, .dropdown-menu {
    margin-right:auto;
    margin-left: auto;
}

.list-group {
    font-size:min(1.5vw,1.25rem);
}

#result-body {
    display:flex;
    flex-direction: column;
    margin-bottom: 2.5%;
    font-size:min(1.5vw,1.25rem);
}

.result-values {
    font-size:min(2vw,1.75rem);
}

.result-text {
    font-size:min(1.5vw,1.25rem);
}

.img-fluid {
    margin-bottom:5%;
}

#card2 .btn {
    width:13vw;
    height:6vh;
    font-size: min(1.25vw,1rem);
    text-transform: none;
}

.btn-group {
    margin-bottom:2.5%;
}
